.countries-view {
    -fx-spacing: 4;
}

.countries-error-label {
    -fx-padding: 0 2 0 2;
}

.countries-view.countries-has-error .search-input-box {
    -fx-border-color: -color-danger;
    -fx-border-width: 1.5;
}

.countries-view.countries-has-error.search-showing .search-input-box {
    -fx-border-color: -color-danger -color-danger -color-surface-tint -color-danger;
}

