.app-select {
    -fx-background-color: -color-surface;
    -fx-border-color: -color-primary;
    -fx-text-color: -color-primary;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-width: 0.5;
    -fx-pref-height: 36;
    -fx-cursor: hand;
}

.app-select:showing {
    -fx-background-radius: 6 6 0 0;
    -fx-border-radius: 6 6 0 0;
    -fx-border-width: 0 0 0.5 0;
}

/* Only SelectButtonCell */
.app-select > .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -color-ink-muted;
}

.app-select .list-view {
    -fx-background-color: -color-surface;
    -fx-background-radius: 0 0 6 6;
    -fx-border-width: 0;
}

.app-select .list-view .list-cell {
    -fx-padding: 5 10 5 10;
    -fx-background-color: transparent;
}
