/* ========================================      ENTRY BASE       =================================== */

.app-entry {
    -fx-background-color: transparent;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-pref-width: 0;
}

.app-entry-label {
    -fx-text-fill: -color-primary;
}

.app-entry-icon {
    -fx-icon-size: 14;
    -fx-icon-color: -color-primary;
}


/* ========================================   COLOR THEMES   =================================== */

.app-theme-red .app-entry-label {
    -fx-text-fill: -color-theme-red;
}
.app-theme-red .app-entry-icon {
    -fx-icon-color: -color-theme-red;
}

.app-theme-orange .app-entry-label {
    -fx-text-fill: -color-theme-orange;
}
.app-theme-orange .app-entry-icon {
    -fx-icon-color: -color-theme-orange;
}

.app-theme-yellow .app-entry-label {
    -fx-text-fill: -color-theme-yellow;
}
.app-theme-yellow .app-entry-icon {
    -fx-icon-color: -color-theme-yellow;
}

.app-theme-green .app-entry-label {
    -fx-text-fill: -color-theme-green;
}
.app-theme-green .app-entry-icon {
    -fx-icon-color: -color-theme-green;
}

.app-theme-teal .app-entry-label {
    -fx-text-fill: -color-theme-teal;
}
.app-theme-teal .app-entry-icon {
    -fx-icon-color: -color-theme-teal;
}

.app-theme-blue .app-entry-label {
    -fx-text-fill: -color-theme-blue;
}
.app-theme-blue .app-entry-icon {
    -fx-icon-color: -color-theme-blue;
}

.app-theme-purple .app-entry-label {
    -fx-text-fill: -color-theme-purple;
}
.app-theme-purple .app-entry-icon {
    -fx-icon-color: -color-theme-purple;
}

.app-theme-pink .app-entry-label {
    -fx-text-fill: -color-theme-pink;
}
.app-theme-pink .app-entry-icon {
    -fx-icon-color: -color-theme-pink;
}

