.app-entry {
    -fx-background-color: transparent;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-pref-width: 0;
    -app-entry-theme-fg: -color-primary;
}

.app-entry-emoji {
    -fx-font-family: "Segoe UI Emoji";
    -fx-font-size: 16;
}

.app-entry-label {
    -fx-text-fill: -app-entry-theme-fg;
}

.app-entry-icon {
    -fx-icon-size: 14;
    -fx-icon-color: -app-entry-theme-fg;
}

.app-entry.app-theme-red-dark { -app-entry-theme-fg: -color-theme-red-dark-fg; }
.app-entry.app-theme-red { -app-entry-theme-fg: -color-theme-red-fg; }
.app-entry.app-theme-rose { -app-entry-theme-fg: -color-theme-rose-fg; }
.app-entry.app-theme-orange { -app-entry-theme-fg: -color-theme-orange-fg; }
.app-entry.app-theme-amber { -app-entry-theme-fg: -color-theme-amber-fg; }
.app-entry.app-theme-yellow { -app-entry-theme-fg: -color-theme-yellow-fg; }
.app-entry.app-theme-golden-brown { -app-entry-theme-fg: -color-theme-golden-brown-fg; }
.app-entry.app-theme-lime { -app-entry-theme-fg: -color-theme-lime-fg; }
.app-entry.app-theme-indigo { -app-entry-theme-fg: -color-theme-indigo-fg; }
.app-entry.app-theme-violet { -app-entry-theme-fg: -color-theme-violet-fg; }
.app-entry.app-theme-steel-blue { -app-entry-theme-fg: -color-theme-steel-blue-fg; }
.app-entry.app-theme-blue { -app-entry-theme-fg: -color-theme-blue-fg; }
.app-entry.app-theme-cyan { -app-entry-theme-fg: -color-theme-cyan-fg; }
.app-entry.app-theme-green { -app-entry-theme-fg: -color-theme-green-fg; }
.app-entry.app-theme-teal { -app-entry-theme-fg: -color-theme-teal-fg; }
.app-entry.app-theme-sage { -app-entry-theme-fg: -color-theme-sage-fg; }
.app-entry.app-theme-brown { -app-entry-theme-fg: -color-theme-brown-fg; }
.app-entry.app-theme-gray { -app-entry-theme-fg: -color-theme-gray-fg; }
.app-entry.app-theme-purple { -app-entry-theme-fg: -color-theme-violet-fg; }
.app-entry.app-theme-pink { -app-entry-theme-fg: -color-theme-rose-fg; }

